/*
Main PAGE CSS
*/

#ciphimage{
	height: 60px;
	
}
#ciphimgeadj{
	height: 45px;
	margin-top: -12px;
	margin-left: -17px;
	border-radius: 10px;
	overflow: hidden;
}

.carousel-tune
{
	width:1920;
	height:500;
	oveflow:hidden;
	border-radius: 10px;
}
#thumbTune{
	margin-top: 30px;
}
#thumbAdj{
	border-radius: 10px;
	oveflow:hidden
}

/* 
Ceasar Cipher Page
*/

.ciph-head{
    margin-top:20px;
    margin-left: 25px;
    display: block;
   font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
}

.ciph-cont{
    margin-top:20px;
    margin-left: 25px;
    display: block;
    padding-right:2px;
    margin-right: 10px;
   font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    text-align:left;
}
form.ciph-form{
   
    margin-left: 25px;
    margin-top: 10px;
    display: block;
    margin-right: 10px;
    padding-right: 15px;
   font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
}

/*MAIN PAGE ANIMATION */
#background-animate{
    width:1345px;
    height:830px;
    background-image: url(../images/1369637-minimal-wallpapers-hd.png);
    background-position: 0px 0px;
    background-repeat:repeat-x;
    animation:animateBackground 40s linear infinite;
}

@keyframes animateBackground
{
    from {background-position: 0 0;}
    to{background-position:100% 0;}
}
.circle-btn{
    margin-left: 25px;
    margin-right:50px;
    width: 150px;
  height: 150px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 120px;
}
.button-inner-ele{
    margin-top:35%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
}

.cst-footer{
    
    width:1345px;
    height:100px;
    background-color:#222222;
}
#footer-img-adj{
    margin-top:0;
    padding-top:24px;
    width: 200px;
    height:70px;
}
.button-adj{
    margin-top:50px;
}

.nav-links-custom{
    margin-left:20px;
}
    